{so_name, "eredis.so"}.

{port_sources, ["c_src/*.c"]}.

{port_envs, [

             {"CFLAGS", "$CFLAGS -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -g -Werror -Ic_src/redis/src -Ic_src/redis/deps/lua/src"},
    	     {"DRV_LDFLAGS","$DRV_LDFLAGS  c_src/redis/redis.a c_src/redis/lua.a"}
             ]}.


{deps_dirs,["deps"]}.
{deps,
 [
 ]}.
             %% Make sure to set -fPIC when compiling redis	
%{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

%{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
